.message-container-1 {
    position: fixed;
    left: 40px;
    flex-direction: column;
}

.message-container-2 {
    position: fixed;
    right: 40px;
    flex-direction: column;
}

.message-container-3 {
    left: 40px;
    position: fixed;
    flex-direction: column-reverse;
    bottom: 20px;
}

.message-container-4 {
    position: fixed;
    right: 40px;
    flex-direction: column-reverse;
    bottom: 20px;
}

.message {
    height: 64px;
    width: 360px;
    border-radius: 16px;
    margin-bottom: 8px;

    background-color: #2C313E66;
}

.message-main {
    width: 328px;
    height: 32px;
    gap: 8px;
    opacity: 0px;

    display: flex;
    align-items: center;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 16px;
    padding: 16px;
}

.message:hover {
    background-color: #2C313E;
}

.message-content {
    flex: 7;
}

.remove-icon {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

